[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
google-generativeai = "*"
pymupdf = "*"
python-dotenv = "*"
pillow = "*"
google-genai = "*"

[dev-packages]

[requires]
python_version = "3.11"
